body {
 
    background-color: whitesmoke;
    background-image: url(williamstown-1057646.jpg);
    background-size: cover;
    background-size: 100%;
}

.name {
   
    float: left;
    padding: 12px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;

    font-family: 'Barriecito', cursive;
    font-size: 4rem;
    border: solid red;
}

.discription {
    /* style for the discription under the Name. */
    font-size: 20px;

    font-family: 'Ubuntu', sans-serif;
}



.profile {
    /* style for profile picture  */
    margin-top: 50px;
    margin-left: 200px;
    display: flex;
    flex-direction: column-reverse;
    height: 250px;
    width: 250px;

    background-image: url(IMG_20231010_104056_752.jpg);
    border-radius: 10cm;
    background-size: cover;

}

ul {
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}